* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #d35649;
}

header>div>nav {
    padding: 0;
}

.menu:hover {
   color: #98a5a5 !important;
}
.menu i:hover{
    color: #98a5a5 !important;
}

nav>div>p>img {
    padding-right: 15%;
}
.btn.btn-outline-light:hover{
    color: #98a5a5  !important;
    background-color: rgba(255, 255, 255, 0);
}

.footer1 {
    background-color: #1f1f1f;
    width: 100%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}

footer>div>div>div>a {
    padding: 0 1%;
}

.email:hover{
    text-decoration: underline !important;
}

.learn_more:hover{
    text-decoration: underline !important;
}

.footer2 {
    background-color: #444;
}